.body {
    margin: 0;
    padding: 0;
}

.header {
    height: 35px;
    background: #1f2937;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font: 14px Roboto, sans-serif;
}

.logo {
    color: white;
    font-weight: bold;
}

.nav-links ul {
    display: flex;
    list-style: none;
    text-decoration: none;
    gap: 24px;
    color: #E5E7EB;
}

a {
    color: white;
    text-decoration: none;
    display: flex;
}